body {
    /* eliminate preformated spacing */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
  
container{
    width: 100%;   
}

/* The bumpers allow for spacing at top and/or bottom */
/* to compensate for phones which have buttons/cameras etc */
/* that block a portion of the screen. */
#bumper-top-container {
    color: darkorchid;
}
#bumper-top {
    color: darkorange;
}

#bumper-btm-container {
    color: darkorange;
}

#bumper-btm {
    color: darkorange;
}


/* **HEADER** */
#header-container {
    color: white;
}

#header-row {
    color: white;
}

#logo {
    color: white;
} 

#header-spacer {
    color: white;
}

.header-nav {
    color: chocolate;
}

.navbar {
    color: crimson;
}

.nav-item {
    color: cyan;
}

.nav-link {
    color: darkgoldenrod;
}

#navlnk1 {
    color:darkkhaki;
}

#navlnk2 {
    color:darkkhaki;
}

#navlnk3 {
    color:darkkhaki;
}


/* **MAIN CONTENT** */
#content-container {
    color: white;
}

#content-row {
    color: white;
}

#splash {
    color: white;
}


/* **FORM** */
#form-container {
    color: white;
}

#form-row {
    color: white;
}

#form {
    color: white;
}


/* **FOOTER** */
#footer-container {
    color: white;
}

#footer-row {
    color: red;
}

#footer-div1 {
    color: deeppink;
}

#footer-div2 {
    color: deeppink;
}

#footer-div3 {
    color: deeppink;
}

#footer-div4 {
    color: deeppink;
}

.footer-ul {
    color: red;
}

.footer-li {
    color: red;
}

#optional-ul {
    color: chartreuse;
}

#opt-1 {
    color: yellow;
}

#opt-2 {
    color: yellow;
}

#opt-3 {
    color: yellow;
}

#social-ul {
    color: chartreuse;
}

#soc-1 {
    color: yellow;
}

#soc-2 {
    color: yellow;
}

#soc-3 {
    color: yellow;
}

#links-ul {
    color: chartreuse;
}

#link-1 {
    color: yellow;
}

#link-2 {
    color: yellow;
}

#link-3 {
    color: yellow;
}

#contact-ul {
    color: chartreuse;
}

#contact-1 {
    color: yellow;
}

#contact-2 {
    color: yellow;
}

#contact-3 {
    color: yellow;
}



